/* blog list */

.blog-list-title {
  font-family: "Bebas Neue", cursive;
  border-bottom: 1px solid #e4e4e4;
  margin: 0;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-list {
  list-style: none;
  width: 70%;
  margin: 10px auto;
  font-family: "Montserrat", sans-serif;
}

.blog-list-item {
  border: 1px solid #f1f1f1;
  padding: 18px 10px;
  margin-top: 20px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.blog-list-item a {
  text-decoration: none;
  color: #656565;
}

/* blog details  */

.container {
  width: 70%;
  margin: 0 auto;
}

.blog-title {
  font-family: "Bebas Neue", cursive;
  font-size: 31px;
  margin-top: 30px;
}

.blog-content {
  font-family: "Montserrat", sans-serif;
  margin-top: 40px;
  margin-bottom: 30px;
}

.comment-list {
  list-style: none;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
}

.comment-list-item {
  margin-top: 10px;
  text-align: left;
  border: 1px solid #f1f1f1;
  padding: 9px;
}

.disabled {
  pointer-events: none;
  background: #ccc;
}


